
h1 { 
    font-size: 22px; 
    color: blue; 
    text-align: center;
}

h4 { 
    font-size: 15px; 
    color: black;
}

.list-group {
    margin-top: 75px; 
    margin-left: 45px;
    width: 500px;
}

#img_il{
    margin-top:45px;
    max-width: 450px;
}

h5 { 
    font-size: 15px;
    color: green; 
}

h6 { 
    font-size: 15px;
    color: green 
}

.form-group{
    width: 272px;
}

#intro_col1{
    margin-top: 85px;
}

#intro_col2{
    margin-top: 85px;
    margin-left: 100px;
}
