h1 {
    font-size: 22px;
    color: blue;
    text-align: center;
}

h4 {
    font-size: 15px;
    color: black;
}

.list-group {
    margin-top: 75px;
    margin-left: 45px;
    width: 500px;
}

#img_il{
    margin-top:45px;
    max-width: 450px;
}

h5 {
    font-size: 15px;
    color: green;
}

h6 {
    font-size: 15px;
    color: green
}

.form-group{
    width: 272px;
}

#intro_col1{
    margin-top: 85px;
}

#intro_col2{
    margin-top: 85px;
    margin-left: 100px;
}

#licence_header{
    margin-top: 20px;
    margin-left: 50px;
    color: blue;
    text-align:center;
}

.main_seg{
    margin-left: 150px;
}
#box{
    border: 1px solid;
    padding: 10px;
    width: 50%;
}

#illinois_seal{
    margin-top: -115px;
}
#illinois_seal2{
   margin-top: -70px;
}
#illinois_seal3{
    margin-top: 30px;
}
#dmvmap{
    margin-top: -315px;
    margin-left: -140px;
    border: 5px solid black;
}
